{% if THEME == 'readthedocs' %}
/* Hide boxes for missing "doc symbols" */
.doc-symbol {
  display: none;
}
/* More vertical whitespace after source code section before next header */
.doc-heading {
  margin-top: 1em;
}
{% endif %}
