site_name: {{ROOT_NAME}}

theme:
  name: material
  features:
    - navigation.footer
    - navigation.path

plugins:
- search
- mkdocstrings:
- api-autonav:
    modules: {{PKG_NAMES}}

nav:
  - API Reference: reference
